 /*body {
       /*background: -webkit-linear-gradient(bottom, #2dbd6e, #a6f77b);
       background-image: url('img/bggg.jpeg');
       background-repeat: no-repeat;
}*/
#card1 {
  background: #fcfcfc;
  border-radius: 10px;
  box-shadow: 1px 2px 8px rgba(255, 180, 94, 0.65);
  height: 470px;
  margin: 6rem auto 8.1rem auto;
  width: 350px;
}
#card {
    background: #fcfcfc;
    border-radius: 20px;
    box-shadow: 1px 2px 8px rgba(240, 137, 78, 0.65);
    height: 750px;
    margin: 6rem auto 8.1rem auto;
    width: 500px;
}

#card-content {
  padding: 12px 44px;
}
#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
.underline-title {
  background: -webkit-linear-gradient(right, #d4986f, #ec7741);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}
a {
text-decoration: none;
}
label {
font-family: "Raleway", sans-serif;
font-size: 11pt;
}
#forgot-pass {
color: #ec7741;
font-family: "Raleway", sans-serif;
font-size: 10pt;
margin-top: 3px;
text-align: right;
}
.form {
align-items: left;
display: flex;
flex-direction: column;
}
.form-border {
background: -webkit-linear-gradient(right, #f3d1bb, #d4986f);
height: 1px;
width: 100%;
}
.form-content {
background: #ffffff;
border: none;
outline: none;
padding-top: 14px;
}
#signup {
color: #ec7741;
font-family: "Raleway", sans-serif;
font-size: 10pt;
margin-top: 16px;
text-align: center;
}
#submit-btn {
background: -webkit-linear-gradient(right, #ec7741, #ec7741);
border: none;
border-radius: 21px;
box-shadow: 0px 1px 8px #ec7741;
cursor: pointer;
color: white;
font-family: "Raleway SemiBold", sans-serif;
height: 42.3px;
margin: 0 auto;
margin-top: 50px;
transition: 0.25s;
width: 153px;
}
#submit-btn:hover {
box-shadow: 0px 1px 18px #ec7741;
}